body,
html {
    height: 100%;
    display: grid;
}
#root {
    margin: auto;
}
.calendar {
}
.years__cell:not(.years__cell--current):hover,
.months__cell:not(.months__cell--current):hover,
.month__cell--day:not(.month__cell--today):hover {
    background-color: rgba(255, 152, 152, 0.5);
    border-radius: 2em;
}
.years td {
    text-align: center;
    padding: 0.2em;
}

.years__cell--current {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
}

.months td {
    padding: 0.2em;
}

.months__cell--current {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
}

.month td {
    max-width: 1.5em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    padding: 0.1em;
}

.month__cell--today {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
    padding: 0.1em;
}
