:root {
    --control__button--scale: 2;
}
body,
html {
    height: 100%;
    display: grid;
}
#root {
    margin: auto;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.decade__cell:not(.decade__cell--current):hover,
.months__cell:not(.months__cell--current):hover,
.month__cell--day:not(.month__cell--today):hover {
    background-color: rgba(255, 152, 152, 0.5);
    border-radius: 2em;
    cursor: pointer;
}

.decade {
    margin: auto;
}

.decade td {
    text-align: center;
    padding: 0.2em;
}

.decade__cell--current {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
    cursor: pointer;
}

.months td {
    padding: 0.2em;
}

.months__cell--current {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
    cursor: pointer;
}

.month td {
    max-width: 1.5em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    padding: 0.1em;
}

.month__cell--weekend {
    background-color: rgba(101, 224, 255, 0.5);
    border-radius: 2em;
}

.month__cell--today {
    background-color: rgba(207, 54, 54, 0.5);
    border-radius: 2em;
    padding: 0.1em;
    cursor: pointer;
}

.control__button,
.control__button::-moz-focus-inner {
    font-size: 100%;
    font-family: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.control__label {
    margin: 1em;
    padding: 1em;
}

.control__button--wrapper {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    margin: -1em;
}

.control__button--today {
    display: block;
    margin: 0 auto;
}

.control__button--previous,
.control__button--next {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 0.3em;
    vertical-align: middle;
    position: relative;
    margin: 1em;
}

.control__button--previous {
    margin-right: 2em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.control__button--next {
    margin-left: 2em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.control__button--wrapper:hover .control__button--previous {
    transform: rotate(135deg) scale(var(--control__button--scale));
    -webkit-transform: rotate(135deg) scale(var(--control__button--scale));
}
.control__button--wrapper:hover .control__button--next {
    transform: rotate(-45deg) scale(var(--control__button--scale));
    -webkit-transform: rotate(-45deg) scale(var(--control__button--scale));
}
